@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --primary-light: #8abdff;
  --primary: #68b36e;
  --primary-dark: #27a727;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

.modal-content {
  padding: 0.3em;
}
.wrapper {
  width: 70%;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
.panel-heading {
  padding: 0;
  border: 0;
}
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 0.5em;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}
.panel-heading a:before {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-group {
  margin-bottom: 0.1em;
}

.panel-body{
  padding: 0.8em;
}

.result-container {
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 2px 4px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  width: 75%;
}

.result-container .btn {
  height: 35px;
  width: 35px;
  align-self: center;
}

.btn, .btn:focus {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  /* padding: 8px 12px; */
  background: #56c080;
  outline: none;
}

/* @media screen and (max-width: 400px) {
  .result-container {
    font-size: 14px;
  }
} */

.check-boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.check-boxes * {
  cursor: pointer;
}

/* Toggle switch */

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 1.2em;
  width: 32px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3.5px;
  left: 3px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 16px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin: 5px;
  position: relative;
}
