button {
  height: 30px;
  outline: none;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}