/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Qwigley&family=Yatra+One&display=swap');

/* Modal Structure */

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 384px;
  box-sizing: border-box;
  /* background-color: rgba(112, 111, 111); */
}

h1 {
  font-family: "Menlo", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: #2f5876;
}

h3, h4{
  padding: 0.2em;
  margin: 0.05em;
}

a:link,
a:visited {
  color: #000000;
  outline: 0;
  text-decoration: none;
}

img {
  width: 30px;
}

.badge{
  background-color: #50bd50;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.danger{
  background-color: #c03939;
  color: #ffffff;
}

button.download{
  padding: 0px;
  height: auto;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 0.5px solid #dadada; */
}

hr {
  width: 98%;
  height: 1px;
  border: none;
  outline: none;
  margin: 0.2em;
  background-color: #dadada;
}

.modal-footer {
  /* border-top: 0.5px solid #dadada; */
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.modal-content {
  margin: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #2f5876;
}

.content-header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.2em;
  background: #fbfbfb;
  border: 1px solid #dddddd;
	border-radius: 5px;
  width: 95%;
}

.alert {
  animation: fadeInAlert 1s ease-out 5ms forwards;
  margin-top: -2.5em;
  opacity: 0;
  display: none;
  padding: 0.3em;
}

@keyframes fadeInAlert {
  from {
    margin-top: -2.5em;
    display: none;
    opacity: 0;
  }
  to {
    margin-top: 0.2em;
    display: flex;
    opacity: 1;
  }
}

.content-title{
  display: block;
  align-self: start;
  text-align: start;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Qwigley';
  padding: 0;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.6);
}

.quote{
  font-size: 1.4em;
  text-align: justify;
  font-family: 'Qwigley';
  padding: 0;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

.author{
  width: 100%;
  align-self: flex-end;
  text-align: end;
}

#expire-in{
  display: none;
}

.content-body{
  display: flex;
  flex-direction: column;
  width: 98%;
}

.content-body .links{
  margin: 0.3em 0px;
  padding: 0.1em;
  /* border: 1px solid #dddddd; */
}

.content-body .links ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.content-body .links ul .link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.05em 1.6em;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-radius: 0.5em;
}

.content-body .links ul .link a{
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  margin: 1em 0.05em;
  line-height: 1.1;
  font-size: 1.2rem;
}

.content-body .links ul .link a .icon{
  font-size: 3rem;
  color: #2f5876;
  align-self: center;
  margin: 0.1em;
}

.content-body .links ul .link a .text{
  text-align: center;
  font-weight: 900;
}

.logo {
  width: 80%;
  padding: 16px;
  padding-bottom: 5px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-icon {
  width: 15%;
  vertical-align: text-bottom;
  margin-right: 12px;
}

.brand{
  display: flex;
  flex-direction: column;
}

.brand-name{
  padding-left: 0.25em;
  font-family: 'Yatra One';
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.version {
  color: #444;
  font-size: 18px;
  font-weight: 400;
}

.subtitle{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0.25em;
  color: #444;
  margin-top: -0.25em;
  /* margin-left: 2em; */
  font-style: italic;
  font-weight: 300;
}

.subtitle span{
  color: #444;
  font-size: 15px;
  font-weight: 400;
  margin-left: 1em;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
}

.icon {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.icon:hover {
  opacity: 0.4;
}

.icon .fa {
  font-size: 30px;
  color: #2f5876;
}

.footer-credit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  color: #444444;
}

.footer-credit .developer {
  font-size: 1.1em;
  font-weight: 600;
}

.footer-credit .version {
  font-size: 1em;
  color: #444;
}

.tabs{
  width: 98%;
}

.tabs ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2em;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	/* margin-bottom: 25px; */
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.tabs ul li{
  display: flex;
	padding: 0.3em;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}

.tabs ul li a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #028f68;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #cdfcee;
	color: #028f68;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}
